@layer theme, base, components, mantine, utilities;
@import "tailwindcss";


@theme {
  --spacing: 5px;
  --text-base: 14px;
  --radius-md: 5px;
  --radius-lg: 7px;
  --border-width: 0.5px;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@layer components {
  .border-thin {
    border-width: var(--border-width);
    border-color: black;
    border-radius: var(--radius-md);
  }
}

@layer mantine {
  @import '@mantine/core/styles.layer.css';
}

:root {
  --small-element-height: 26px;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--text-base);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* .mantine-Input-root {
  @apply h-5;
}

.mantine-Input-input {
  @apply h-5;
  width: 100%;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

.mantine-NumberInput-control {
  border-color: black;
  
} */