

html, body, #root {
  height: 100%;
}

.pne-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100%; */
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 0.75rem;
  /* gap: 0.25rem; */
}

.pne-div.shrink {
  flex-shrink: 0;
  width: auto;
  height: auto;
}

.divider-div {
  border-top: 1px solid black;
  /* margin-top: 0.25rem; */
}

.handle-padder {
  width: 5px;
  height: 100%;
}

.node-wrapper {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0px;
  margin: 0px;
  background-color: white;
  opacity: 1;
}

.node-field-internals {
  padding: 5px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.node-field-internals.left {
  padding-left: 10px;
}

.node-field-internals.right {
  padding-right: 10px;
}

.node-field-minified {
  /* padding: 5px; */
  flex-direction: row;
  justify-content: space-between;
}

.node-label-display {
  flex-direction: row;
  font-size: 14px;
  gap: 0.25rem;
}

.node-label-display.left {
  justify-content: flex-start;
}

.node-label-display.right {
  justify-content: flex-end;
}


div.center {
  align-items: center;
  justify-content: center;
}

.mantine-TextInput-input {
  border-color: black;
}

.mantine-TextInput-root {
  width: 100%;
}

.mantine-Switch-track {
  border-color: black;
  background-color: white;
}

.mantine-Switch-thumb {
  border-color: black;
  background-color: black;
}



