.structured-data-wrapper {
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px !important;
  gap: 5px;
}

.structured-data-wrapper.small {
  height: var(--small-element-height);
}

.structured-data-label {
  min-width: 15px;
  width: auto;
  overflow: visible;
  flex-shrink: 0;
}

.structured-data-title {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  min-height: var(--small-element-height);
  font-weight: 600;
}

.structured-data-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

.structured-data-item {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}