

.handle-padder {
  width: 5px;
  height: 100%;
}

.field-wrapper {
  padding: 5px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.field-wrapper.left {
  padding-left: 10px;
} 

.ield-wrapper.right {
  padding-right: 5px;
}

.field-label-text {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  font-size: 0.75rem;
  /* word-break: break-word; */
}



